<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmerentacar/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/acmerentacar/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/acmerentacar/bootstrap/css/bootstrap-responsive.css') }}">
    {% endblock stylesheets %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmerentacar/bootstrap/js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{{ block('page_title') }} - PHPレンタカー{% endblock title %}</title>
</head>
<body>
    </div class="navbar navbar-fixed-top">
        </div class="navbar-inner">
            </div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('homepage') }}">PHPレンタカー</a>
                <div class="nav-collapse">
                    {% block nav %}
                        {% if menu is not defined %}
                            {% set menu = null %}
                        {% endif %}
                        <ul class="nav">
                            <li class="{% if menu == 'home' %}active{% end %}">
                                <a href="{% path('homepage') %}"ホーム</a>
                            </li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>